/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 22, 2016, 11:31:22 PM
    Author     : iosep
*/
.root {
    -fx-background-image: url("background.jpg");
}

.label {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.vbox{
    -fx-padding: 10;
    -fx-spacing: 10;
}

.hbox{
    -fx-spacing: 10;
}

.topbox{
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-background-image: url("lightgray.png");
}

.title {
    -fx-font-size: 44px;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.subtitle {
    -fx-font-size: 22px;
    -fx-font-family: "Arial Narrow";
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.action {
    -fx-font-size: 13px;
    -fx-fill: FIREBRICK;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );  
}

.button {
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.topbutton {
    -fx-label-padding: 5 10 5 10;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

